h1 {
  color: red;
}

header .container-fluid {
  background-color: #04ffcd;
  display: flex;
  flex-direction: column;
}

footer .container-fluid {
  background-color: #ff041d;
}

li {
  color: green;
}
